//templates/index.html
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Flask Dynamic Select Box using Flask-WTF, javascript and SQLAlchemy</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
 <div class="row">
        <div class="col-md-12">
        <p><h2>Python Flask Dynamic Select Box using Flask-WTF</h2></p>
        <form method="POST">
          {{ form.csrf_token}}  
      <div class="form-group">
    <label for="email">Country:</label>
    {{ form.value(class="form-control") }}
   </div>
    <input type="submit" class="btn btn-success" btn-lg>
  </form> 
        </div>
 </div>
</div> 

</body>
</html>
