<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <link rel="icon" href="data:,">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);



body {
width: 2700px;
 height: 2700px;
   overflow-y: scroll;
   overflow-x: hidden; /* hides the horizontal scroll bar */
   line-height : normal !important ;
     padding: 15px !important;
}

#element_form1 {  display:inline-block; margin-left:20px; width:500px;}
#element_form2 {  display:inline-block; }


















    </style>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer <= 0) {
            timer = duration;
        }
    }, 1000);
}













    </script>
    <script type="text/javascript">
var interval_val = {{interval }};
var to_seconds = interval_val / 1000;
var intervalID = setInterval(update_values, interval_val);

  function update_values() {
      startTimer(to_seconds, document.querySelector('#time'));

        $.getJSON($SCRIPT_ROOT + '/_stuff',


      function(data) {
        $('.result1').text(data.result+'%');
		$('.progress-bar1').attr('value', data.result);

        console.log(data)
      });
    };

    function stopTextColor() {
      clearInterval(intervalID);
    }


    </script>
    <script type="text/javascript">
var interval_val2 = {{interval2 }};
var to_seconds2 = interval_val2 / 1000;
var intervalID2 = setInterval(update_values2, interval_val2);

  function update_values2() {
      startTimer(to_seconds2, document.querySelector('#time2'));

        $.getJSON($SCRIPT_ROOT + '/_perpetual_stuff',


      function(data) {
        $('.result_perpetual').text(data.result_perpetual);
        console.log(data)
      });
    };

    function stopTextColor() {
      clearInterval(intervalID2);
    }


    </script>
</head>


<body>


<p>Flask test Dashboard</p>


<h2 style="  margin-left: 20px; width:1100.5px; font-size: 25px;">Threads running in the background </h2>
<form method="post">
    <div id="element_form2">
        <div class="row">
            <div class="col" style="  margin-left: 20px;">
                <input class="btn btn-primary" type="submit" value="Input">
            </div>
            <label style="  margin-top: 7px;  margin-left: -5px;">Submit - Start new thread</label>
        </div>
    </div>
    </div>
</form>

<div style="  margin-left: 20px; width:1100.5px;">
    <div class="card" style="background: None;">
        <div class="card-body" style="background: None; padding-bottom: 15px !important; padding-top: 15px !important;">
            <p style="  margin-left: -10px;" >*need to reload the page to update this Text Box (Card) </p>

            {% if status %}
            <li style="list-style-type:none; margin-left: -10px;">
                <text style="font-weight: bold; font-size: 15px; font-family: Arial, Helvetica, sans-serif;
        color: white;  background: ForestGreen;">
                    {{status}}
                </text>
            </li>


            {% else %}
            <text></text>
            {% endif %}
            {% if text %}
            <div style="margin-left:-50px; margin-bottom:-20px ;">
                <ul style="list-style-type:none;">
                    {% for value in text %}
                    <li>
                        <text style="font-weight: ;">{{value}}</text>
                        : {{text[value]}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <p> Empty Page 1 </p>
            {% endif %}
        </div>
    </div>


    {% if bokS %}
    {{ bokS|indent(4)|safe }}
    {% else %}
    <p></p>
    {% endif %}
</div>


<div onload="update_values();" style="  margin-left: 20px;width:1100.5px;">
    <div class="card" style="background: None;">
        <text class="card-body"
              style="background: None; padding-bottom: 15px !important; padding-top: 15px !important;">
            <a style="list-style-type:none; margin-left: -10px; font-size: 15px;"> Dynamic Update</a>
            <ul style='list-style: none; list-style-type:none; margin-left: -40px;'>
                <li style="list-style-type:none; margin-left: -10px;">
                    <text style="font-weight: bold; font-size: 15px; font-family: Arial, Helvetica, sans-serif;
        color: black;  background: ForestGreen;">

                        <p><span class="result1">?</span>
                            <script>
                            // useless
                       var res =  document.getElementById("result").innerHTML;
                         document.write(res);






                            </script>
                            <button onclick="stopTextColor();">Stop</button>
                    </text>
                </li>

                <li style="list-style-type:none; margin-left: -10px;  font-size: 15px; ">
                    <text>

                        the interval is:
                        <script type="text/javascript">
                document.write({{interval }} /1000)











                        </script>
                        seconds
                    </text>
                </li>
                <li style="list-style-type:none; margin-left: -10px;  font-size: 15px; ">
                    <text> Update in
                        <span id="time">05:00</span> minutes!
                    </text>
                </li>

                <li style="list-style-type:none; margin-left: -10px;  font-size: 15px; ">
                    <text>

                        <progress class="progress-bar1" value="0" max="100"></progress>
                        <p><span class="result1">?</span>
                    </text>

                </li>
            </ul>
        </text>
    </div>
</div>

<p>
<h2 style="  margin-left: 20px; width:1100.5px; font-size: 25px;">Perpetual Thread running in the background </h2>

<div onload="update_values2();" style="  margin-left: 20px;width:1100.5px;">
    <div class="card" style="background: None;">
        <text class="card-body"
              style="background: None; padding-bottom: 15px !important; padding-top: 15px !important;">
            <a style="list-style-type:none; margin-left: -10px; font-size: 15px;"> Dynamic Update</a>
            <ul style='list-style: none; list-style-type:none; margin-left: -40px;'>
                <li style="list-style-type:none; margin-left: -10px;">
                    <text style="font-weight: bold; font-size: 15px; font-family: Arial, Helvetica, sans-serif;
        color: black;  background: ForestGreen;">

                        <p><span class="result_perpetual">?</span>
                            <script>
                            // useless
                       var res =  document.getElementById("result_perpetual").innerHTML;
                         document.write(res);
                            </script>
                            <button onclick="stopTextColor();">Stop</button>
                    </text>
                </li>

                <li style="list-style-type:none; margin-left: -10px;  font-size: 15px; ">
                    <text>

                        the interval is:
                        <script type="text/javascript">
                document.write({{interval2 }} /1000)

                        </script>
                        seconds
                    </text>
                </li>
                <li style="list-style-type:none; margin-left: -10px;  font-size: 15px; ">
                    <text> Update in
                        <span id="time2">05:00</span> minutes!
                    </text>
                </li>


            </ul>
        </text>
    </div>
</div>

</body>
</html>
